@model _1721050522_Trinh_Thu_Huong_BTL_LTQL.Models.CHUYENMON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHUYENMON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenCM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
